<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./styles/index.css">
  <script src="./scripts/jquery-3.1.0.js"></script>
  <script src="./bootstrap/js/bootstrap.js"></script>
  <script src="./angular/angular.js"></script>
  <script src="./scripts/JSON.json"></script>
  <script src="./scripts/app.js"></script>
</head>
<body ng-app="gitmodule" ng-controller="maindata" class="container-fluid">

	<header class="navbar container-fluid navbar-default navbar-fixed-top" id="header">
    <div class="col-md-1" id="headericon">
      <img src="./pics/gitgray.png" class="img-circle img-responsive" width="50px" height="50px">
    </div>
    <div class="col-md-5 headertext">
      <h2 class="headertext col-md-12">TopGit <span id="headertexttag"> - finding the top Git projects</span></h2>
    </div>
    <div class="col-md-5" id="headermessage">
      We've found <strong>{{resTotal}}</strong> respository in <strong>{{resLanguage}}</strong>
    </div>
  </header>


  <div class="container-fluid" id="mainblock">
    <div class="col-md-9" id="search">

			<form class="input-group col-md-12" ng-submit="searchData()">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="search repository" aria-describedby="basic-addon1" ng-model="searchtext">
      </form>

			<br>

			<div class="col-md-12 well input-group searchdata" ng-repeat = "x in rawjson" ng-click = "goToGithub(x)">
        <span class="col-md-1">
					<span class="glyphicon glyphicon-hand-right"></span>
				</span>
        <div class="col-md-11 datarows ">
					<div class="col-md-3">
						<p class="col-md-12 datarows">
            	{{ x.name }}
          	</p>
            <p class="col-md-12 datarows">
              Language : {{ x.language }}
            </p>
					</div>
					<div class="col-md-9">
						<p>
              {{ x.description}}
            </p>
					</div>
        </div>
			</div>

		</div>

    <div class="col-md-3" id="filter">
        <p class="col-md-12">
          Stars
        </p>
        <input class="col-md-12" type="range" name="stars" min="4678" max="25607" ng-model="seekbar" ng-change="seekChange()">
    </div>

	</div>

</body>
</html>
